body {
  background-color: #252424;
  color: #e4e0e0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #e0d7d7;
}

a {
  color: #1e1e1e;
  transition: all 0.5s ease-in-out;
}

a:hover {
  color: #e0d7d7;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}

.p-r {
  position: relative;
}

.color-a {
  color: #0078ff;
}

.box-shadow,
.paralax-mf,
.service-box,
.portfolio-box,
.card-blog {
  box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
}

.box-shadow-a,
.button:hover {
  box-shadow: 0 0 0 4px #cde1f8;
}

.display-5 {
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.1;
}

.display-6 {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.1;
}

.avatar {
  width: 32px;
  height: 32px;
  margin-right: 4px;
  overflow: hidden;
}

.bg-image {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}

.overlay-mf {
  background-color: #252424;
}

.overlay-mf {
  position: absolute;
  top: 0;
  left: 0px;
  padding: 0;
  height: 100%;
  width: 100%;
  opacity: 0.7;
}

.paralax-mf {
  position: relative;
  padding: 8rem 0;
}

.display-table {
  width: 100%;
  height: 100%;
  display: table;
}

.table-cell {
  display: table-cell;
  vertical-align: middle;
}

/* Sections */

.sect-4 {
  padding: 4rem 0;
}

.sect-pt4 {
  padding-top: 4rem;
  background-color: #252424;
}

.sect-mt4 {
  margin-top: 4rem;
}

/* Title s */

.title-s {
  font-weight: 600;
  color: #1e1e1e;
  font-size: 1.1rem;
}

/*Title A */

.title-box {
  margin-bottom: 4rem;
}

.title-a {
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
}

.subtitle-a {
  color: #f5f5f5b2;
  font-size: 120%;
  margin-top: 30px;
}

.line-mf {
  width: 100px;
  height: 3px;
  background-color: #0078ff;
  margin: 0 auto;
}

/* Title Left */

.title-box-2 {
  margin-bottom: 3rem;
}

.title-left {
  font-size: 2rem;
  position: relative;
  text-align: center;
}

.title-left:before {
  content: "";
  position: absolute;
  height: 3px;
  background-color: #0078ff;
  width: 100px;
  bottom: -12px;
}

/* Box */

.box-pl2 {
  padding-left: 2rem;
}

/* Navbar */

.navbar-b {
  transition: all 0.5s ease-in-out;
  background-color: transparent;
  padding-top: 1.563rem;
  padding-bottom: 1.563rem;
}

.navbar-b.navbar-reduce {
  box-shadow: 0px 6px 9px 0px rgba(0, 0, 0, 0.06);
}

.navbar-b.navbar-trans .nav-item,
.navbar-b.navbar-reduce .nav-item {
  position: relative;
  padding-right: 10px;
  padding-left: 0;
}

.navbar-b.navbar-trans .nav-link,
.navbar-b.navbar-reduce .nav-link {
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
}

.navbar-b.navbar-trans .nav-link:before,
.navbar-b.navbar-reduce .nav-link:before {
  content: "";
  position: absolute;
  margin-left: 0px;
  width: 0%;
  bottom: 0;
  left: 0;
  height: 2px;
  transition: all 500ms ease;
}

.navbar-b.navbar-trans .nav-link:hover,
.navbar-b.navbar-reduce .nav-link:hover {
  color: #fff;
}

.navbar-b.navbar-trans .nav-link:hover:before,
.navbar-b.navbar-reduce .nav-link:hover:before {
  margin-left: 15px;
  margin-right: 15px;
  width: 40%;
}

.navbar-b.navbar-trans .show > .nav-link:before,
.navbar-b.navbar-trans .active > .nav-link:before,
.navbar-b.navbar-trans .nav-link.show:before,
.navbar-b.navbar-trans .nav-link.active:before,
.navbar-b.navbar-reduce .show > .nav-link:before,
.navbar-b.navbar-reduce .active > .nav-link:before,
.navbar-b.navbar-reduce .nav-link.show:before,
.navbar-b.navbar-reduce .nav-link.active:before {
  margin-left: 15px;
  margin-right: 15px;
  width: 35px;
}

.navbar-b.navbar-trans .nav-link:before {
  background-color: #fff;
}

.navbar-b.navbar-trans .nav-link:hover {
  color: #fff;
}

.navbar-b.navbar-trans .show > .nav-link,
.navbar-b.navbar-trans .active > .nav-link,
.navbar-b.navbar-trans .nav-link.show,
.navbar-b.navbar-trans .nav-link.active {
  color: #fff;
}

.navbar-b.navbar-reduce {
  transition: all 0.5s ease-in-out;
  background-color: #252424;
  padding-top: 15px;
  padding-bottom: 15px;
}

.navbar-b.navbar-reduce .nav-link {
  color: #e0d7d7;
}

.navbar-b.navbar-reduce .nav-link:before {
  background-color: #252424;
}

.navbar-b.navbar-reduce .nav-link:hover {
  color: #0078ff;
}

.navbar-b.navbar-reduce .show > .nav-link,
.navbar-b.navbar-reduce .active > .nav-link,
.navbar-b.navbar-reduce .nav-link.show,
.navbar-b.navbar-reduce .nav-link.active {
  color: #0078ff;
}

.navbar-b.navbar-reduce .navbar-brand {
  color: #e0d7d7;
}

.navbar-b.navbar-reduce .navbar-toggler span {
  background-color: #1b1b1b;
}

.navbar-b .navbar-brand {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
}

.navbar-b .navbar-nav .dropdown-item.show .dropdown-menu,
.navbar-b .dropdown.show .dropdown-menu,
.navbar-b .dropdown-btn.show .dropdown-menu {
  -webkit-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px);
  visibility: visible !important;
}

.navbar-b .dropdown-menu {
  margin: 1.12rem 0 0;
  border-radius: 0;
}

.navbar-b .dropdown-menu .dropdown-item {
  padding: 0.7rem 1.7rem;
  transition: all 500ms ease;
}

.navbar-b .dropdown-menu .dropdown-item:hover {
  background-color: #0078ff;
  color: #252424;
  transition: all 500ms ease;
}

.navbar-b .dropdown-menu .dropdown-item.active {
  background-color: #0078ff;
}

/* Intro Cover */

.intro {
  height: 100vh;
  position: relative;
  color: #fff;
}

.intro .intro-content {
  text-align: center;
  position: absolute;
}

.intro .overlay-itro {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0px;
  padding: 0;
  height: 100%;
  width: 100%;
  opacity: 0.9;
}

.intro .intro-title {
  color: #fff;
  font-weight: 600;
  font-size: 3rem;
}

.intro .intro-subtitle {
  font-size: 1.5rem;
  font-weight: 300;
  color: #fff;
}

.intro .text-slider-items {
  display: none;
}

.intro-single {
  height: 350px;
}

.intro-single .intro-content {
  margin-top: 30px;
}

.intro-single .intro-title {
  text-transform: uppercase;
  font-size: 3rem;
}

.intro-single .breadcrumb {
  background-color: transparent;
  color: #0078ff;
}

.intro-single .breadcrumb .breadcrumb-item:before {
  color: #cde1f8;
}

.intro-single .breadcrumb .breadcrumb-item.active {
  color: #cde1f8;
}

.intro-single .breadcrumb a {
  color: #fff;
}

/* About Me */

.row {
  display: flex;
}

.column {
  flex: 50%;
}

.about-mf .box-shadow-full {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

/* Portfolio */

.portfolio-box {
  margin-bottom: 3rem;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: #1a1818;
}

.portfolio-box:hover img {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

.portfolio-img {
  display: block;
  overflow: hidden;
}

.portfolio-img img {
  transition: all 1s;
}

.portfolio-content {
  padding: 2rem 3% 1rem 4%;
}

.portfolio-content .w-more {
  color: #4e4e4e;
  font-size: 0.8rem;
}

.w-title {
  font-size: 1.5rem;
}

.w-description {
  font-size: 1.2rem;
}

/* Contact Section*/

.footer-paralax {
  padding: 4rem 0 0 0;
}

.contact-mf .box-shadow-full {
  padding: 3rem 4rem;
  position: relative;
  background-color: #1a1818;
  z-index: 2;
  margin: 3rem;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.contact-mf {
  margin-top: 4rem;
  margin: 0 auto;
}

.title-left-contact {
  text-align: center;
}

/* Footer */

footer {
  text-align: center;
  color: #fff;
  padding-bottom: 2rem;
}

footer .copyright {
  margin-bottom: 0.1rem;
  width: 50%;
  margin: 0 auto;
}

.socials {
  margin-left: 20%;
  color: white;
}

/* Back to top button */

.back-to-top {
  position: fixed;
  display: none;
  background-color: #1c1e20;
  color: #8d9094;
  width: 44px;
  height: 44px;
  text-align: center;
  font-size: 16px;
  border-radius: 30%;
  right: 15px;
  bottom: 15px;
  transition: background 0.5s;
  box-shadow: 0 0 3px #6381ad;
}

.back-to-top i {
  padding-top: 12px;
}

/* Contact Continued */

.contact-container {
  max-width: 45rem;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
  margin-top: -2rem;
  text-align: left;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 20rem;
}
.contact-container a.contact-method {
  color: inherit;
  display: block;
  width: 50%;
  height: 6rem;
  position: relative;
  padding-left: 6rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.contact-container a.contact-method h3,
.contact-container a.contact-method p {
  font-weight: normal;
  margin: 0;
  width: 10rem;
  transition: all 0.2s ease;
}
.contact-container a.contact-method h3 {
  font-size: 1.5rem;
  line-height: 1.4;
  transform: translateY(0.5rem);
}
.contact-container a.contact-method p {
  line-height: 1.25rem;
  height: 1.25rem;
  transform: translateY(1rem);
  opacity: 0;
  color: #777;
  font-size: 1rem;
}
.contact-container a.contact-method i {
  font-size: 2rem;
  line-height: 6rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 6rem;
  height: 6rem;
  text-align: center;
}

.contact-container a.contact-method:hover h3 {
  transform: translateY(0);
}

.contact-container a.contact-method:hover p {
  transform: translateY(0);
  opacity: 1;
}
